* {
    box-sizing: border-box;
}

html,
body {
   height: 100%;
   margin: 10px;
}

.grid-container {
    padding: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    grid-gap: 20px 20px;
}

.navigation-bar{
    float: left;
    border: 1px solid black;
    width: 45%;
    margin-left: 15%;
}
.content{
    float: left;
    width: 55%;
    margin-left: 10%;
    margin-top: 1%;
    height: 100%;
}
.content-box {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}

.scrolling-box {
    height: 80%;
}

.right-bar-box {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

.box-four {
    float: left;
    width: 23%; /* three boxes (use 25% for four, and 50% for two, etc) */
    padding: 20px; /* if you want space between the images */
    margin: 1%;
    border: 1px solid black;
    text-align: center;
}

.right-bar{
    height: 100%;
    float: right;
    width: 15%;
}
.left-bar{
    padding: 15px;
    border: 1px solid black;
    width: 15%;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

p {
    text-align: center;
}
input[type=text], input[type=password], input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: right;

}

.registerbtn {
  background-color: #333;
  color: white;
  padding: 16px 20px;
  margin-left: 30%;
  border: none;
  width: 40%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

label {
  width: 100%;
  display: inline-block;
  text-align: right;
}