* {
    background-color: #514968;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

html,
body {
   height: 100%;
   margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 30% auto;
  grid-gap: 10px;
  padding: 10px;
}

.header {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  background-color: #51417E;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: bold;
}

.objective-title {
  float: left;
  border: 1px solid black;
  padding: 15px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #675599;
  font-size: 35px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.objective {
  float: left;
  border: 1px solid black;
  padding: 15px;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  background-color: #E3DDF5;
  font-size: 25px;
  color: #000000;
  letter-spacing: 2px;
  text-align: left;
  text-style: italic;
}

.education-title {
  float: left;
  border: 1px solid black;
  padding: 15px;
  font-weight: bold;
  text-decoration: underline;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: #675599;
  font-size: 35px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.education-years {
  float: left;
  border: 1px solid black;
  padding: 15px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #675599;
  font-size: 35px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

.education {
  float: left;
  border: 1px solid black;
  padding: 15px;
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  background-color: #E3DDF5;
  font-size: 25px;
  color: #000000;
  letter-spacing: 2px;
  text-align: left;
  text-style: italic;
}

.professional-experience {
  border: 1px solid black;
  padding: 15px;
  grid-column: 1 / 2;
  grid-row: 4 / 6;
  background-color: #675599;
  font-size: 35px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.year-1 {
  float: left;
  border: 1px solid black;
  padding: 15px;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-color: #675599;
  font-size: 35px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

.year-2 {
  float: left;
  border: 1px solid black;
  padding: 15px;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  background-color: #675599;
  font-size: 35px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

.job-1 {
  float: left;
  border: 1px solid black;
  padding: 15px;
  grid-column: 3 / 5;
  grid-row: 4 / 5;
  background-color: #E3DDF5;
  font-size: 25px;
  color: #000000;
  letter-spacing: 2px;
  text-align: left;
  text-style: italic;
}

.job-2 {
  float: left;
  border: 1px solid black;
  padding: 15px;
  grid-column: 3 / 5;
  grid-row: 5 / 6;
  background-color: #E3DDF5;
  font-size: 25px;
  color: #000000;
  letter-spacing: 2px;
  text-align: left;
  text-style: italic;
}

.military-title {
    float: left;
    border: 1px solid black;
    padding: 15px;
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    background-color: #675599;
    font-size: 35px;
    color: #000000;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.military-years {
    float: left;
    border: 1px solid black;
    padding: 15px;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    background-color: #675599;
    font-size: 35px;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.military {
    float: left;
    border: 1px solid black;
    padding: 15px;
    grid-column: 3 / 5;
    grid-row: 6 / 7;
    background-color: #E3DDF5;
    font-size: 25px;
    color: #000000;
    letter-spacing: 2px;
    text-align: left;
    text-style: italic;
}

.list {
  list-style-type: square;
  color: #C4B6ED;
  font-size: 20px;
  line-height: 1.6;
}

.skills-and-capabilities {
  border: 1px solid black;
  padding: 15px;
  grid-column: 3 / 5;
  grid-row: 7 / 8;
  background-color: #E3DDF5;
  font-size: 25px;
  color: #000000;
  letter-spacing: 2px;
  text-align: left;
  text-style: italic;
}

.contact-title {
    float: left;
    border: 1px solid black;
    padding: 15px;
    grid-column: 1 / 2;
    grid-row: 8 / 9;
    background-color: #675599;
    font-size: 35px;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.contact-form {
  grid-column: 3 / 5;
  grid-row: 8 / 9;
  color: #FFFFFF;
}

::placeholder{
    color: #FFFFFF;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  width: 100%;
}

input[type=submit] {
  background-color: #987DE9;
  color: #000000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align: center;
}

input[type=submit]:hover {
  background-color: #BCA9F3;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact-me {
  border: 1px solid black;
  padding: 90px 0;
  grid-column: 2 / 3;
  grid-row: 8 / 9;
  background-color: #675599;
  font-size: 20px;
  color: #C4B6ED;
  text-align: center;
  text-style: italic;
  line-height: 1.6;
}

img {
  max-width: 8%;
  height: auto;
}

.confirm-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1020;
  opacity: 0;
  transition: opacity 300ms ease-in;
  pointer-events: none;
}

.show {
  opacity:1;
  pointer-events: auto;
}

.confirm-popup > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
}


